<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.qk.mama">
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="API_KEY_FOR_MAP"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <application
        android:name="app.qk.mama.MApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Mama"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity"
        tools:replace="android:allowBackup">
        <activity android:name="app.qk.mama.ActSplash">

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="map_key" />

        <activity
            android:name="app.qk.mama.activities.ActivityLauncher"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="app.qk.mama.activities.ActivityStart"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.qk.mama.activities.ActivityDriver"
            android:screenOrientation="portrait" />
        <activity
            android:name="app.qk.mama.activities.ActivityCustomer"
            android:screenOrientation="portrait" />

        <service
            android:name="app.qk.mama.push.MyFirebaseMessageService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>